@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Marcellus&family=Noto+Sans+Syriac+Eastern:wght@100..900&family=Oswald:wght@200..700&family=Playwrite+BE+VLG:wght@100..400&family=Special+Elite&display=swap');

*{
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}